<button
  type="button"
  class="flex flex-row items-center justify-between w-full px-5 py-4 mt-3 text-lg font-medium text-left text-gray-900 bg-white border border-gray-300 rounded-lg focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 dark:bg-blue-950 dark:text-white dark:border-blue-900 dark:hover:bg-blue-800 dark:hover:border-blue-700 dark:focus:ring-blue-800"
  [routerLink]="ruta"
>
  <p class="text-center">Añadir {{ titulo }}</p>

  <div>
    <span
      class="flex items-center justify-center text-white rounded-full w-14 h-14 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 focus:outline-none dark:focus:ring-blue-800"
    >
      <svg
        class="w-5 h-5 transition-transform group-hover:rotate-45"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 18 18"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M9 1v16M1 9h16"
        /></svg
    ></span>
  </div>
</button>
