<li *ngFor="let sub of subs()" class="cursor-pointer">
  <div
    [routerLink]="'/sub/' + sub.id"
    class="flex flex-row max-w-sm px-6 py-5 mt-3 bg-gray-800 border-gray-700 rounded-lg shadow borde hover:bg-gray-700"
  >
    <div class="flex flex-row w-full gap-4">
      <!-- IMG -->

      <app-logo-sub [sub]="sub"></app-logo-sub>
      <!-- CONTENT -->
      <div class="flex flex-col justify-between w-full">
        <div class="flex flex-row items-center content-center justify-between">
          <h5 class="text-xl font-medium tracking-tight text-white">
            {{ sub.name }}
          </h5>
          <p class="font-medium text-white">
            ${{ sub.price }}
            <span class="font-normal text-gray-400">/mes</span>
          </p>
        </div>

        <div class="text-left">
          <p class="font-normal text-gray-400">Vencimiento en 10 dias</p>
        </div>
      </div>
    </div>
  </div>
</li>
