<div
  [routerLink]="'/sub/edit'"
  class="flex max-w-sm px-6 py-5 mt-3 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
>
  <div class="flex flex-row w-full gap-5">
    <!-- IMG -->
    <div>
      <div
        class="relative inline-flex items-center justify-center overflow-hidden bg-gray-100 rounded-full w-14 h-14 dark:bg-gray-600"
      >
        <span class="font-medium text-gray-600 dark:text-gray-300">ML</span>
      </div>
    </div>
    <!-- CONTENT -->

    <div
      class="flex flex-row items-center content-center justify-between w-full"
    >
      <div class="flex flex-col">
        <h5
          class="text-xl font-bold tracking-tight text-gray-900 dark:text-white"
        >
          Matias Lenci
        </h5>
        <p class="font-normal text-gray-700 dark:text-gray-400">$500</p>
      </div>
      <button
        type="button"
        data-dial-toggle="speed-dial-menu-default"
        aria-controls="speed-dial-menu-default"
        aria-expanded="false"
        class="flex items-center justify-center w-12 h-12 text-white rounded-full hover:bg-red-800 focus:ring-4 focus:ring-blue-300 focus:outline-none dark:focus:ring-red-800"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 -960 960 960"
          class="w-6 h-6 transition-transform group-hover:rotate-45"
        >
          <path
            d="m249-207-42-42 231-231-231-231 42-42 231 231 231-231 42 42-231 231 231 231-42 42-231-231-231 231Z"
            fill="white"
          />
        </svg>
      </button>
    </div>
  </div>
</div>
