<form class="mx-6 mt-5" [formGroup]="form">
  <div class="mb-5">
    <label for="email" class="block mb-2 text-base font-medium text-white"
      >Correo electrónico</label
    >
    <input
      type="email"
      id="email"
      formControlName="email"
      class="border text-base py-3 rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500"
      placeholder="Ingrese su correo electrónico"
    />
  </div>
  <div class="mb-8">
    <label for="password" class="block mb-2 text-base font-medium text-white"
      >Contraseña</label
    >
    <input
      type="password"
      id="password"
      formControlName="password"
      placeholder="Ingrese su contraseña"
      class="border text-base rounded-lg py-3 block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500"
    />
  </div>

  <button
    (click)="login()"
    type="submit"
    class="w-full px-5 py-4 text-base font-medium text-center text-white bg-blue-600 rounded-lg focus:ring-4 focus:outline-none hover:bg-blue-700 focus:ring-blue-800"
  >
    Iniciar Sesión
  </button>
</form>

<div class="mx-6">
  <p class="mt-6">
    <a href="#" class="font-normal text-blue-500 underline hover:no-underline"
      >Olvide mi contraseña</a
    >
  </p>

  <div class="inline-flex items-center justify-center w-full">
    <hr class="w-full h-px bg-gray-200 border-0 my-7 dark:bg-gray-700" />
    <span
      class="absolute px-3 font-medium text-gray-900 -translate-x-1/2 bg-white left-1/2 dark:text-white dark:bg-gray-900"
      >o</span
    >
  </div>

  <button
    [routerLink]="'register'"
    class="w-full px-5 py-4 text-base font-medium text-center text-white bg-green-600 rounded-lg focus:ring-4 focus:outline-none hover:bg-green-700 focus:ring-green-800"
  >
    Registrarse
  </button>
</div>
