/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  font-family: "Gotham Book", sans-serif;
}
* {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

@font-face{
  font-family: 'Gotham Book';
  src: url('../src/assets/fonts/Gotham\ Book\ Font.otf');
}
