<form class="mx-6 space-y-5">
  <div>
    <label for="email" class="block mb-2 text-base font-medium text-white"
      >Correo electrónico</label
    >
    <input
      type="email"
      id="email"
      class="border text-base py-3 rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500"
    />
  </div>
  <div>
    <label for="password" class="block mb-2 text-base font-medium text-white"
      >Contraseña</label
    >
    <input
      type="password"
      id="password"
      class="border text-base rounded-lg py-3 block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500"
    />
  </div>
  <div>
    <label for="password" class="block mb-2 text-base font-medium text-white"
      >Repita su contraseña</label
    >
    <input
      type="password"
      id="password"
      class="border text-base rounded-lg py-3 block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500"
    />
  </div>
  <div>
    <label for="password" class="block mb-2 text-base font-medium text-white"
      >Nombre completo</label
    >
    <input
      type="password"
      id="password"
      class="border text-base rounded-lg py-3 block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500"
    />
  </div>

  <button
    type="submit"
    class="w-full px-5 py-4 mt-3 text-base font-medium text-center text-white bg-blue-600 rounded-lg focus:ring-4 focus:outline-none hover:bg-blue-700 focus:ring-blue-800"
  >
    Registrarse
  </button>
</form>

<div class="m-6">
  <p class="text-gray-500 dark:text-gray-400">
    Ya tengo una cuenta
    <a
      href="#"
      class="font-medium text-blue-600 underline dark:text-blue-500 hover:no-underline"
      >Iniciar sesión</a
    >.
  </p>
</div>
